
//fuentes de texto - Tipografia
$fuenteCaramel: 'Caramel', cursive;
$fuenteCinzelDecorative: 'Cinzel Decorative', cursive;
$fuenteIMFellGreatPrimer: 'IM Fell Great Primer', serif;
$fuenteMartel:'Martel', serif;

//Colores
$azulclaro: #8fbfff;
$blanco: #ffffff;
$rojo: #c72121;
$azulfuerte: #1a3fa7;
$verdoso: #1a9ea7;
$negro: #000000;
$amarillo: #fbff1c;


//Tamanos de los media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;