@use 'base/variables' as v;
@use 'base/mixins' as m;

.inicio-header{
    width: 100%;
    height: 100%;
    @include m.tablet {
        padding-bottom: 5rem;

    }
}

.header-info {
    background-color: v.$blanco;
    width: 100vw;
    height: 100vh;
    
    @include m.tablet {
        height: 100%;
        width: 100%;
    }
    
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
    .header-img {
        justify-self: center;
        
        img{
            max-width: 100%;
            box-shadow:  -32px -32px 35px #c5c5c5,
                         32px 32px 35px #fbfbfb;
        }
        
        @include m.tablet{
            width: 80%;
            margin-top: 3rem;
        }
    }
    
    @include m.tabletPro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-info-text {
        padding: 0 3.5rem;
        text-align: center;
    }
    
    .header-info-text h1{
        color: v.$rojo;
        margin: 0;
        margin-top: 1rem;
        
    }

    .header-description {
        @include m.tablet{
            display: flex;
            align-items: center;
        }
    }

    .header-info-text .header-description p{
        text-align: justify;
        padding-right: 1rem;

        @include m.tablet{
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }

    .header-info-text .header-description .header-img {
        width: 110px;
        height: 140px;
        margin-top: 0;
        padding-top: 0;
        @include m.tablet {
            width: 90px;
            height: 120px;    
        }
    }
}
